.banner {
  display: flex;
  justify-content: center;
  padding: 12px 15px;
  background-color: rgb(33, 42, 47);
  color: white
}
.logout-btn {
  background-color: red;
  border-radius: 12px;
  color: white;
  /* display: inline-block; */
}

.navbar-text {
  display: flex;
  flex: 1;
  justify-content: space-between;
  justify-content: flex-end;
  align-items: flex-end

}
/* .navbar {
  min-height: 80px;
} */



